
.sliderman .carousel-caption {
    bottom: 13vw;
}

.sliderman .carousel-caption h3 {
    text-transform: uppercase;
    font-size: 125px;
    font-family: 'Barlow', sans-serif;
    line-height: 1;
    font-weight: 600;
}